*{
    box-sizing: border-box;
}
body{
    font-family:"PT Sans Narrow", Arial, sans-serif;
    margin: 0px 20px;
    background-color:#292929;
    width:100%;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #000000;
    height:80px;
    margin:0px;
    list-style-type: none;
    width:100%;
}

.nav-items .nav-items-link{
    padding: 20px 14px;
    color:#FFFFFF;
    text-decoration: none;
    margin:20px;
}
a:hover {
    background-color: yellow;
}

.image-container {
    width:100%;
    height:460px;
    margin: 0px;
    overflow: hidden;
}

.container{
    position: relative;
    top:-151px;
    /*left:141px;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width:80%;
    margin:0 auto;
    color:white;
    z-index: 1;

}

 div .first-el
{
    background-color: white;
     color:black;
     font-size: 25px;
     text-align: left;
     padding: 20px 18px 2px;
     width:30%;
     /*border:2px solid red;*/
}

div .forth-el
{
    background-color:white;
    color:black;
    padding: 20px 18px 2px;
    text-align: left;
    width:30%;
    /*border:2px solid red;*/
}

div .second-el,
div .sixth-el{
    background-color:#404040;
    padding: 20px 18px 2px;
    text-align: left;
    width:30%;
    /*border:2px solid red;*/
}

div .thirth-el,
div .fifth-el{
    background-color:#4c4c4c;
    padding: 20px 18px 2px;
    text-align: left;
    width:30%;
    /*border:2px solid red;*/
}

.info-wrong{
    color:rgba(0, 0, 0, 0.3);
    font-size:15px ;
    margin-bottom:0px

}
.info-value{
    font-size: 50px;
    margin:0px 0px 5px 0px;
    text-align: left;

}
.info-text{
    margin:0px;
    text-align: left;
}


.advantage{
    position:relative;
    /*top:-141px;*/
    /*left:141px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items:flex-end;*/
    top:45px;
    color:white;
    height: 200px;
    /*width:80%;*/
    width:100%;
    margin:0px;

}

.advantage-wrapper{
    width:80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    /*border: 1px solid red;*/





}
.advantage-item{
    border-right: solid 2px #4c4c4c;
    text-align: center;
    width:30%;
    /*border: 1px solid red;*/

}
.advantage .advantage-item:last-child{
    border-right: none;
}
.advantage-desc{
    padding:5px 25px;
    margin:0px
}
.advantage-name{
    margin-bottom:5px
}

.news{
    position:relative;
    top: 100px;
    margin:0px;
    background-color: white;
    color:black;
    border: 2px solid #e2dcd4;
    width:100%;
    height:250px;


}
.news-wrapper
{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}
.news-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    margin-top:50px;
    padding-left: 0px;


}
.news-item{
    position:relative;
    width:30%;
    list-style-type: none;
    height:110px;


}
.news-item p{
    padding-left:46px;
    margin:5px 10px;
}
span{
    position:absolute;
    top:0px;
    display:block;
    background-color: black;
    color:white;
    width:50px;
    height:50px;
    text-align: center;
}
.button{
    text-decoration: none;
    border: 2px solid #e2dcd4;
    margin:5px 48px;
    text-align: center;
    width:20%;
    height:30%;
    padding: 20px 5px;
}
*.news-wrapper h2{
    margin:5px 10px;
    padding-left: 93px;
    width:45%
}


.footer-wrapper{
    position:relative;
    top:100px;
    width:80%;
    height:200px;
    margin:0px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:white;

}
.footer-wrapper-item{
    width:30%;
    text-align: center;
}
.footer-wrapper-item a{
    border:2px solid #e2dcd4;
    padding: 10px 45px;
    margin-top:30px;
    text-decoration: none;
    color:white;
}


.info-phone{
    border-top:2px solid #e2dcd4;
    border-bottom:2px solid #e2dcd4;
    padding: 10px 5px;
}
/*.social-link .socila-link-fb:first-child{*/
/*    background-image: url(../img/footer/facebook-icon-big.png);*/
/*}*/


































/*.container1{*/
/*    position: relative;*/
/*    height: 300px;*/
/*    background-image: url(https://vre2h.github.io/barbershop/img/all-background.png);*/
/*}*/
/*.container2{*/
/*    height: 300px;*/
/*    background-color: #292929;*/
/*}*/
/*.container3{*/
/*    position: absolute;*/
/*    top: 235px;*/
/*    left: 142px;*/
/*}*/
/*.items-lists{*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    !*margin:200px 100px;*!*/

/*}*/
/*!*.items-lists .item-list:first-child{*!*/
/*!*    width:100%;*!*/
/*!*}*!*/
/*.item-list{*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    flex-wrap: wrap;*/
/*    color:white;*/
/*    !*border:2px solid white;*!*/
/*    height:100px;*/
/*    !*text-align: center;*!*/
/*}*/
/*.item-list div {*/
/*    !*background-color: #4e4e4e;*!*/
/*    width: 50%;*/
/*    border:2px solid white;*/
/*}*/
/*.item-list1{*/
/*    color: black;*/
/*background-color: white;*/
/*}*/
/*.item-list2{*/
/*background-color: #404040;*/
/*}*/

