
/*home*/
*{
    box-sizing: border-box;
}
body{
    margin: 0px 20px;
    font-family:"PT Sans Narrow", Arial, sans-serif;
    line-height: 1.4;
    background-color:#292929;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items:center;
    height:80px;
    margin:0px;
    background-color: #000000;
    list-style-type: none;
}

.nav-items .nav-items-link{
    padding: 20px 34px;
    text-decoration: none;
    color:#FFFFFF;
}

.nav-items li .nav-items-link:hover{
    transition: 500ms;
    background-color: white;
    color:black;
}


.image-container {
    height:420px;
    overflow: hidden;
}

.statistics{
    width:80%;
    height: 300px;
    margin:0 auto;
    position: relative;
    top:-151px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    text-align: left;
    z-index: 1;
}

.statistics .first-el
{
    width:30%;
    padding: 20px 18px 2px;
    font-size: 25px;
    background-color: white;
    color:black;
}

.statistics .fourth-el
{
    width:30%;
    padding: 20px 18px 2px;
    background-color:white;
    color:black;
}

.statistics .second-el,
.statistics .sixth-el{
    width:30%;
    padding: 20px 18px 2px;
    background-color:#404040;
}

.statistics .third-el,
.statistics .fifth-el{
    width:30%;
    padding: 20px 18px 2px;
    background-color:#4c4c4c;
}

.info-wrong{
    margin-bottom:0px;
    font-size:15px;
    color:rgba(0, 0, 0, 0.3);
}
.info-value{
    font-size: 50px;
    margin:0px 0px 5px 0px;
}
.info-text{
    margin:0px;
}

.advantage-wrapper{
    position:relative;
    top:-55px;
    height: 200px;
    width:80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    text-align: center;
    color:white;
}

.advantage-item{
    border-right: solid 2px #4c4c4c;
    width:30%;
}
.advantage-wrapper .advantage-item:last-child{
    border-right: none;
}
.advantage-desc{
    padding:5px 25px;
    margin:0px;
}
.advantage-name{
    margin-bottom:5px
}

.news{
    position:relative;
    top: 100px;
    margin:0px;
    background-color: white;
    color:black;
    border: 2px solid #e2dcd4;
    width:100%;
    height:250px;


}
.news-wrapper
{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.news-wrapper h2{
    margin:5px 10px;
    padding-left: 93px;
    width:45%
}

.news-items{
    padding-left: 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.news-item{
    position:relative;
    width:30%;
    height:110px;
    list-style-type: none;
}

.news-item p{
    padding-left:46px;
    margin:5px 10px;
}

span{
    position:absolute;
    top:0px;
    width:50px;
    height:50px;
    display:block;
    text-align: center;
    background-color: black;
    color:white;
}

.button-news{
    width:13%;
    padding: 12px 5px;
    margin:5px 48px;
    text-decoration: none;
    border: 2px solid #e2dcd4;
    text-align: center;
    color:black;
}


/*footer*/

.footer-wrapper{
    position: relative;
    top:100px;
    margin:0px;
    margin-bottom: 40px;
    width:100%;
    text-align: center;
    color:white;
}

.footer-wrapper-items{
    width:74%;
    margin:0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-wrapper-item{
    display: flex;
    flex-direction: column;
}
.info-phone{
    border-top:2px solid #e2dcd4;
    border-bottom:2px solid #e2dcd4;
    padding: 10px 5px;
}

.social-links{
    width:200px;
}
.social-links-item{
    padding: 12px 12px;
    border: 2px solid #e2dcd4;

}

.button{
    width:150px;
    height:45px;
    padding:7px 10px;
    text-decoration: none;
    border: 2px solid #e2dcd4;
    color:white;
    text-align: center;
}



/*info.html*/

.portfolio{
    position:relative;
    top:-22px;
    margin:0px;
    background-color: #f7f5f2;
}

h1{
    text-align:center;
    padding: 22px 5px;
}

.work-main {



    margin-left:250px;
    margin-right: 268px;
    display: flex;
    flex-wrap: nowrap;
    border:solid 1px #e5ddd5;
}

.works-items {



    margin:20px 250px 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.work-item{

    width:260px;

    margin-right: 20px;
    border:solid 1px #e5ddd5;
}

.person-opinion {
    text-align: left;
    padding-left:20px;
    padding-right: 2px;
    margin-bottom:5px;
}

/*info-html-table*/

.price-title{
    margin-left:250px;
    color:white;
}

table{
    border-collapse: collapse;
    color:white;
    width:60%;
    height: 250px;
    text-align: center;
    font-size: 17px;
    margin:0px;
}

table td{
    border:solid 1px #484848;
}

.price-discount-wrapper {
    margin:10px 280px 60px 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.discount{
    width:230px;
    height: 250px;
    margin:0px;
    padding:125px 5px;
    font-size: 17px;
    text-align: center;
    border:solid 1px #484848;
    color:white;
}


/*register*/
.main-wrapper{
    background-color: #f7f5f2;
    margin:0px;

}
.request{
    margin:0px auto;
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.request-title{
    text-align: left;
    font-size: 25px;
}
.button-to-main{
    width:100px;
    height:40px;
    border:solid 1px #e5ddd5;
    margin-top:40px;
}
.info-form{
    width:100%;
}
.about{
    display: flex;
    flex-direction: column;
}
.about-name{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.about-name input{
    border:solid 1px #e5ddd5;
    padding:8px 25px 8px 10px;
    width:34%
}

.about-contacts{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;

}
.about-contacts input{
    border:solid 1px #e5ddd5;
    padding:10px 25px 8px 10px;
    width:48%
}

textarea{
    border:solid 1px #e5ddd5;
}

.choice{
    margin-bottom:150px;
    margin-top:60px;
    color: dimgrey;
}
.choice-title{
    margin-bottom:40px;
    font-weight: lighter;
    text-align: center;
}

.choice-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service{
    margin-bottom:150px;
    margin-top:60px;
    color: dimgrey;
}

.service-title{
    margin-bottom:40px;
    font-weight: lighter;
    text-align: center;
}
.service-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.submit-btn{
    width:100%;
    margin-top: 25px;
    padding:10px 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color:#7a6552;
    color:white;
}






















































